go 1.25.0

use (
	./gen/go
	./services/_shared
	./services/api-gateway
	./services/auth-service
	./services/customer-service
	./services/inventory-service
	./services/product-service
	./services/sales-service
	./services/supplier-service
)
