HTTP_PORT=8000
JWT_RS256_PUBLIC_KEY_PATH=/etc/pos/jwt.pub
SERVICE_TOKEN_SECRET=changeme
REDIS_ADDR=localhost:6379
REDIS_PASSWORD=redis
REDIS_DB=0
AUTH_SERVICE_URL=localhost:8081
PRODUCT_SERVICE_URL=localhost:8082
INVENTORY_SERVICE_URL=localhost:8083
SALES_SERVICE_URL=localhost:8084
SUPPLIER_SERVICE_URL=localhost:8085
CUSTOMER_SERVICE_URL=localhost:8086
LOG_LEVEL=info
ENVIRONMENT=development
